body {
    background-color:black;
    font-family: Arial;
    color: white;
}

.titulo {
    font-size: 67px;
    font-weight: 600;
    color:rgb(159, 130, 238);
    text-align: center;
}

h2 {
    color:blueviolet;
    margin: bottom 23px;
    
}